	{% import '@helpers--generic' as generic %}
	{% import '@helpers--images' as images %}
	{% import '@helpers--form' as form %}

	{% do kd.inlineCss('css/gallery/gallery.css') %}
	{% do kd.inlineCss('css/gallery/gallery--masonry.css') %}

	{% set theme %}{{ generic.theme(module.theme) }}{% endset %}
	{% set attributes = {
		data: {
			id: loop.index,
			'kd-id': '104',
			'kd-handle': 'gallery',
			'kd-theme': theme,
			'kd-type': 'mod',
		},
		class: [
			'kd-theme-bg',
			'temp-height',
			module.padding,
			module.border,
		],
	} %}

	<section {{ attr(attributes) }}>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="">
						<div class="gallery  gal-2 gal-md-3 gal-lg-4">
                            {% for column in 1 .. module.listingColumns %}
                                <div class="gallery-col"></div>
                            {% endfor %}
                            {% for image in module.images %}
                                <div class="gallery-item gallery-item{{ loop.index }}" {% if module.tint %}data-toggle="modal" data-full-src="{{ images.url(image,[{width:500}]) }}" data-target="#mod104Modal-{{ loopId }}"{% endif %}>
                                    {{ images.image(image,[{width:262}])}}
									{# <img class="img-fluid" src="{{ galleryItem.image.one.url }}"	alt="from CMS"> #}
                                </div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{# modal for larger image #}
		<div class="modal fade" id="mod104Modal-{{ loopId }}" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<img class="img-fluid" src="" alt="">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
			</div>
		</div>
	</section>